
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css' )}}"> 
        <title>{{title}}</title>
    </head>
<body>
    <header class="head">
        <div class="header-container">
        <nav>
            <ul>
                {% if 'email' in session %}
                <li id='yellow'>Welcome, {{session.email}}</li>
                {% endif %}
                <li><a href="/">Home</a></li>
                {% if 'email' not in session %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="/blog">Main Blog</a></li>
                <li><a href="/newpost">Add a Post</a></li>
                <!-- <li><a href="https://student.runneredq.com/">Clean_Student</a></li> -->
                {% if 'email' in session%}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>