{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Post</title>
</head>
<body>
  <div class="container">
    <div class="container-inner">  
      <h1 class='top_margin'>Register For <span class="yellow">BLOGZ</span></h1>
      </br>
      <form action="/register" method="POST">
        <table>
          <tbody>
              <tr>
                  <td>
                    <span class="error">{{email_error}}{{user_exists_error}}</span>
                  </td>
                </tr>
            <tr>
              <td>
                <label for="email">Email:<span>&nbsp;</span></label>
              </td>
            </tr>
            <tr> 
              <td>
                <input class='input' type="text" name="email" id="email" value='{{email}}'>
              </td>
            </tr> 
            <tr>
                <td>
                  <span class="error">{{password_error}}</span>
                </td>
              </tr>
            <tr>
              <td>
                <label for="password">Password:<span>&nbsp;</span></label>
              </td>
            </tr>  
            <tr>
              <td>
                <input class='input' type="password" name="password" id="password" value='{{password}}'>
              </td>
            </tr>
            <tr>
                <td>
                  <span class="error">{{verify_error}}</span>
                </td>
              </tr>
            <tr>
            <tr>
              <td>
                <label for="verify">Verify Password:<span>&nbsp;</span></label>
              </td>
            </tr>
            <tr>
              <td>
                <input class='input input_space' type="password" name="verify" id="verify" value='{{verify}}'>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="button">
        <input class="btn" type="submit" action="/">
      </div>
    </div>
  </form>

  </div>
</body>
</html>






{% endblock %}